
.container{
    width: 800px;
    border-radius: 10px;
    background-color: blueviolet;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
}
#parent{
    display: flex;
    justify-content: center;
}